{% extends 'base.html' %}
{% block content %}

<div class="form-group">
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button class="btn btn-primary btn-sm" type="submit">Share</button> 
       <a href="{% url 'blog:post_list' %}" <button class="btn btn-secondary btn-sm"></button>Cancel</a>
    </form>
</div> 



{% endblock %}

<script>
    var name = "{{ user.id }}";
    document.getElementById("formid").value = name;
</script>