{% extends "base.html" %}
{% block title %}RecipeMate{% endblock %}
{% block content %}
<div id="sidebar">
    <h2>Top Used Ingredients</h2>
    {% for ings in ingredients %}
    <ul>
        <li>
            {{ ings }} ({{ ings.num_ingredients }})
        </li>
    </ul>
    {% endfor %}
</div>

<div id="post-list">
    {% for post in posts %}
    <h3>
        <a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a>
    </h3>
    <p class="date">
        Published by {{ post.author }}
    </p>
    <p>{{ post.date }}</p>

    <img class="imga" src="{{ post.image.url }}">

    {{ post.description|truncatewords:15|linebreaks }}
    <div>{{ post.total_likes }} people liked-<a href="{% url 'blog:edit_view' post.pk %}">Edit</a></div>
    {% endfor %}
</div>

<div id="p-position">
    <hr>
    {% include "pagination.html" with page=posts %}
</div>
{% endblock %}