{% extends "base.html" %}
{% block title %}RecipeM8{% endblock %}
{% block content %}
<div id="sidebar">
    <h2>Top ingredients</h2>
</div>

<div id="post-list">
    {% for post in posts %}
    <h3>
        <a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a>
    </h3>
    <p class="date">
        Published by {{ post.author }}
    </p>
    <p>{{ post.date }}</p>

    <img class="imga" src="{{ post.image.url }}">

    {{ post.description|truncatewords:15|linebreaks }}
    {% endfor %}
</div>

<div id="p-position">
    <hr>
    {% include "pagination.html" with page=posts %}
</div>
{% endblock %}